* {
  background-color: blanchedalmond;
}

h2 {
  color: darkcyan;
}

ol {
  font-size: 20px;
}

.heading {
  color: darkgoldenrod;
}

table {
  font-style: oblique;
  border-style: double;
  border: 5px solid lightblue;
  color: darkgreen;
}

thead {
  font-size: 25px;
  color: rgb(161, 118, 201);
}

tbody {
  font-size: 20px;
}
